<ion-header>
  <app-header seccion="Perfil"></app-header>
</ion-header>
<ion-content>
  <ion-item>
    <h3>Listado de Plataformas  </h3>
    <ion-button slot="end" *ngIf="configService.isClickConfig">
      Nueva Plataforma
    </ion-button>
  </ion-item>

  <ion-list>
      <ion-card *ngFor="let p of plataformas">
        <ion-card-header 
          [routerLink]="['/tabs/juegos/plataformas', p.id]" >
          <img [src] = "p.imagen | viewImage: 'plataformas'">
          <ion-card-title >{{ p.nombre_plataforma }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
        <p>{{p.descripcion}}</p>
        </ion-card-content>
      </ion-card>
  </ion-list>
  <ion-infinite-scroll threshold="50px"
  (ionInfinite)="loadData($event)">
<ion-infinite-scroll-content
loadingSpinner="crescent"
loadingText="cargando mas datos...">
</ion-infinite-scroll-content>
</ion-infinite-scroll>
  <router-outlet >

  </router-outlet>
</ion-content>