<ion-content>
  <ion-router-outlet name="tabs">
  </ion-router-outlet>
</ion-content>
<ion-content>

</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="plataformas">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>plataformas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="configService.isAdmin" (click)="configService.edicion()">
      <ion-icon color="primary" [name]="configService.iconEdit">
      </ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>