<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<p>esto es el login</p>
<ion-item>
  <ion-label>Usuario :</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
<ion-label>Contraseña :</ion-label>
<ion-input type = "password"></ion-input>
</ion-item>
<ion-button shape="round" expand="block" color="dark">login</ion-button>
<ion-tab-bar>
  <ion-tab-button >
    <ion-label>crear ususaio</ion-label>
  </ion-tab-button>
</ion-tab-bar>
</ion-content>
