ion-toolbar {
color: rgb(0, 0, 0) !important;
background-color: rgb(115, 76, 187) !important;
height: 80px;

}

ion-img {
    height: 50px;
    width: 50px
}

nav a {
  text-decoration:rgb(197, 13, 114) !important;
}