zone "{{ domain }}" IN {
    type master;
    file "/etc/bind/zones/db.{{ domain }}";
};

zone "{{ rev_domain }}.in-addr.arpa" IN {
    type master;
    file "/etc/bind/zones/db.{{ rev_domain }}";
};
